body {
    background-color: rgb(212, 212, 212);
}

#container1 {
    display: flex;
    border: 2px dotted #ff0000;
 

    

}

.flexbox {
    min-width: 10%;
    border: 1px solid gray;
    background-color: white;
    text-align: center;

}

.flexbox2 {
    min-width: 50px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;

}
.flexbox3 {
    min-width: 50px;
    min-height: 75px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;

}




#container2 {

    display: flex;
    border: 2px dotted #ff0000;
    flex-direction: row-reverse;


}

#container3 {
    display: flex;
    border: 2px dotted #ff0000;
    flex-direction: column;
}

#container4 {
    display: flex;
    border: 2px dotted #ff0000;
    flex-direction: column-reverse;
    text-align: start;
}

#container5 {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    border: 2px dotted #ff0000;
}

#container6 {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    border: 2px dotted #ff0000;
}

#container7 {
    display: flex;
    border: 2px dotted #ff0000;
    align-items: center;

}


#container8 {
    display: flex;
    border: 2px dotted #ff0000;
    align-items: flex-start;

    
}

#container9 {
    display: flex;
    border: 2px dotted #ff0000;
    align-items: flex-end;

    
}

#container10 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: center;
}

#container11 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: flex-start;
}

#container12 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: flex-end;
}

#container13 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: space-between;
}

#container14 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: space-around;
}

#container15 {
    display: flex;
    border: 2px dotted #ff0000;
    justify-content: space-evenly;
}

#container16 {
    display: flex;
    border: 2px dotted #ff0000;
    
 
    
}
#container16>div {
    background-color: #ffffff;
    min-width: 10%;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    line-height: 50px;

}

#order1 {
    order: 1;
}
#order2 {
    order: 2;
}
#order3 {
    order: 3;
}
#order4 {
    order: 4;
}
#order5 {
    order: 5;
}
#order6 {
    order: 6;
}




#container17 {
    display: flex;
    border: 2px dotted #ff0000;
}

#container17>div {
    background-color: #ffffff;
    min-width: 10%;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    line-height: 50px;

    
}

#flex-grow1 {
    flex-grow: 2;
}

#flex-grow2 {
    flex-grow: 2;
}

#flex-grow3 {
    flex-grow: 4;
}
#flex-grow4 {
    flex-grow: 2;
}
#flex-grow5 {
    flex-grow: 2;
}
#flex-grow6 {
    flex-grow: 2;
}

#container18 {
    display: flex;
    border: 2px dotted #ff0000;
}

#container18>div {
    min-width: 98px;
    border: 1px solid gray;
    background-color: white;
    text-align: center;
    line-height: 50px;
    
}

#flex-shrink1{
    flex-shrink: 0;
}
#flex-shrink2{
    flex-shrink: 0;
}
#flex-shrink3{
    flex-shrink: 0;
}
#flex-shrink4{
    flex-shrink: 0;
}
#flex-shrink5{
    flex-shrink: 0;
}
#flex-shrink6{
    flex-shrink: 0;
}

#container19{
    display: flex;
    border: 2px dotted #ff0000;
    padding: 1em;
    
    
}

#container19>div {
    padding: 1em;
    text-align: center;
    margin: 1em;
    height: 500px;

}


.h1 {
    background-color: #ffffff;
    border: 1px solid gray;
    text-align: center;
    width: 250px;

}

.h2 {
    background-color: #ffffff;
    border: 1px solid gray;
    text-align: center;
    width: 500px;

    

}

.h3 {
    background-color: #ffffff;
    border: 1px solid gray;
    text-align: center;
    width: 250px;


}






