@charset "UTF-8";
body {
  font-family: "Economica", sans-serif;
  font-size: 16px;
}
body header {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body header #logo {
  display: flex;
  justify-content: center;
}
body header nav ul {
  margin: 0;
  background-color: #7e4a7c;
  text-align: center;
  padding: 10px;
}
body header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 10px 10%;
}
body header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  width: 160px;
  padding: 10px;
}
body header nav ul li a:hover {
  color: #7e4a7c;
  background-color: white;
}
body main {
  margin: 0 auto;
  width: 60%;
}
body main h1 {
  color: #7e4a7c;
  text-align: center;
  padding: 2rem;
  font-size: 50px;
}
body main h2 {
  color: #b878b5;
  font-size: 40px;
}
body main h3 {
  color: #7e4a7c;
}
body main .about {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 80%;
}
body main .about .about_wrapper {
  display: flex;
  gap: 2rem;
}
body main .about #about_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
}
body main .about #about_text #about_btn2 {
  margin: 0;
}
body main .about #about_text #about_btn2 a {
  background: #7e4a7c;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
}
body main .about #about_text #about_body {
  text-align: start;
}
body main .about #about_text #about_body .title {
  color: #b878b5;
}
body main .about #why_us {
  width: 33%;
}
body main .about #why_us .liste {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
  list-style: none;
  line-height: 30px;
}
body main .about #why_us .liste li {
  color: #7e4a7c;
  list-style: none;
}
body main .about #why_us .liste li:before {
  content: "➤";
  color: purple;
  margin-left: -2em;
  padding: 10px;
  list-style: none;
}
body main .our_teacher .our_teacher_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
body main .our_teacher .our_teacher_wrapper .our_teacher_julia {
  display: flex;
  gap: 1rem;
  flex-basis: 45%;
}
body main .our_teacher .our_teacher_wrapper .our_teacher_julia #our_teacher_julia_text .title_1 {
  color: #b878b5;
}
body main .our_teacher .our_teacher_wrapper .our_teacher_julia #our_teacher_julia_text #our_teacher_btn {
  margin-top: 2rem;
}
body main .our_teacher .our_teacher_wrapper .our_teacher_julia #our_teacher_julia_text #our_teacher_btn a {
  background: #7e4a7c;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
}
body main .our_classes .our_classes_tableau {
  display: flex;
  justify-content: center;
  text-align: center;
}
body main .our_classes .our_classes_tableau table {
  width: 90%;
}
body main .our_classes .our_classes_tableau table,
body main .our_classes .our_classes_tableau th,
body main .our_classes .our_classes_tableau td {
  border: 2px solid #ddbbdb;
  border-collapse: collapse;
}
body main .our_classes .our_classes_tableau th,
body main .our_classes .our_classes_tableau td {
  padding: 8px;
}
body main .our_classes .our_classes_tableau th {
  background-color: blue;
}
body main .our_classes .our_classes_tableau .our_classes_tableau_cellule {
  background: #ddbbdb;
}
body main .our_classes .our_classes_tableau .our_classes_tableau_cellule_1 {
  background: #7e4a7c;
  color: white;
}
body main .book_lesson .book_lesson_form {
  border: 2px solid #7e4a7c;
  padding: 1rem;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_top {
  display: flex;
  justify-content: center;
  background: #ddbbdb;
  padding: 1rem;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_top .book_lesson_form_top_main {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_top .book_lesson_form_top_main input {
  width: 70%;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_top .book_lesson_form_top_main label {
  width: 15%;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_bottom {
  margin-top: 2rem;
  background: #ddbbdb;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_bottom div {
  width: 30%;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_bottom div label {
  width: 40%;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_bottom div select {
  width: 60%;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_button {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
body main .book_lesson .book_lesson_form form .book_lesson_form_button button {
  background: #7e4a7c;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
}
body .footer {
  width: 100vw;
  margin-top: 2rem;
  padding: 20px;
  background-color: #7e4a7c;
  display: flex;
  justify-content: center;
}
body .footer .footer_icons {
  display: flex;
  justify-content: space-between;
  width: 10%;
}/*# sourceMappingURL=style.css.map */